body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0; 
}


/* Define el color de fondo amarillo oscuro y el color de texto */
.hover-amarillo-oscuro:hover {
    background-color: #ffc107 !important; /* El color de Bootstrap 'warning' */
    color: #212529 !important;          /* Color de texto oscuro para que sea legible */
}

/* Opcional: Si quieres mantener el texto en blanco para mejor contraste en amarillo */
.hover-amarillo-oscuro:hover {
    background-color: #ffc107 !important; /* El color de Bootstrap 'warning' */
    color: #FFFFFF !important;          /* Texto blanco */
}


.watermark-container {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                background-size: 50%;
                background-position: center;
                background-repeat: no-repeat;
                opacity: 0.4;
                z-index: -1;
    }


/* estoilos de Bocas */

#hr-degradado {
    border: none; /* Elimina el borde por defecto */
    height: 3px; /* Define el grosor de la línea */
    /* Aplica el gradiente lineal de izquierda a derecha */
    background: linear-gradient(to right, #ff0000, #ffff00, #0000ff);
  }



