{% extends 'base.html' %}

{% block title %}Cantidad de alertas por servicio{% endblock %}

{% block content %}
  <!-- Filtro de fecha -->

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form id="formFiltro" action="{{ url_for('alertas.alertas_por_servicio') }}" method="get">
        <h5 class="text-center mb-4">Filtrar por fecha</h5>
        <div class="row g-3 align-items-end">
          <div class="col-md-5">
            <label for="fecha_inicio" class="form-label"><strong>Fecha Inicio</strong> </label>
            <input
              type="date"
              class="form-control"
              id="fecha_inicio"
              name="fecha_inicio"
              value="{{ fecha_inicio or '' }}"
            />
          </div>
          <div class="col-md-5">
            <label for="fecha_fin" class="form-label"><strong>Fecha Fin</strong></label>
            <input
              type="date"
              class="form-control"
              id="fecha_fin"
              name="fecha_fin"
              value="{{ fecha_fin or '' }}"
            />
          </div>
          <div class="col-md-2 d-flex align-items-end">
            <button type="submit" class="btn btn-primary me-2">Filtrar</button>
            <!-- Botón de borrar como enlace que redirige a la URL base -->
            <a href="{{ url_for('alertas.alertas_por_servicio') }}" class="btn btn-secondary">Borrar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>





<h3 class="mt-5 text-center">Agrupacón de Alertas por Servicio</h3>
<div class="table-responsive" style="max-width: 900px; margin: 0 auto;">
    <input class="form-control mb-3" id="buscador" type="text" placeholder="Buscar servicio...">
    <table class="table table-bordered table-hover table-sm text-center" style="font-size: 0.9rem;">
        <thead class="table-secondary">
            <tr>
               <th scope="col">#</th>
                <th>Servicio</th>
                <th>Total de Alertas</th>
            </tr>
        </thead>
        <tbody id="tabla-servicios">
            {% for item in conteo_servicios %}
            <tr>
               <td>{{ loop.index }}</td>
                <td>
                    <a href="{{ url_for('alertas.detalle_alertas', servicio=item.Servicio) }}">{{ item.Servicio }}</a>
                </td>
                <td><span class="badge bg-danger">{{ item.Total_Alertas }}</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
document.getElementById('buscador').addEventListener('keyup', function() {
    var filtro = this.value.toLowerCase();
    var filas = document.querySelectorAll('#tabla-servicios tr');
    filas.forEach(function(fila) {
        var texto = fila.textContent.toLowerCase();
        fila.style.display = texto.includes(filtro) ? '' : 'none';
    });
});
</script>
{% endblock %}