<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/LogoBancolombia.png') }}" type="image/x-icon">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/fondo.png') }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<header>
   <nav class="navbar navbar-expand-sm navbar-dark bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('app.index') }}">
        <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="Logo" width="120" height="40" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú Principal</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-5">
            
            {% if g.user %}

            <!-- Menú de Alertas CGM -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Monitoreo CGM
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item hover-amarillo-oscuro" href="{{ url_for('app.listar') }}">Servicios</a></li>
                <li><a class="dropdown-item hover-amarillo-oscuro" href="{{ url_for('app.crear_servicio') }}">Crear Servicios</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item hover-amarillo-oscuro" href="{{ url_for('alertas.total_alertas') }}">Top Alertas</a></li>
                <li><a class="dropdown-item hover-amarillo-oscuro" href="{{ url_for('alertas.alertas_por_servicio') }}">Alertas Por Servicio</a></li>
                <li><a class="dropdown-item hover-amarillo-oscuro" href="{{ url_for('alertas.conteo_alertas_iguales') }}">Agrupación Alertas</a></li>
                  
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item hover-amarillo-oscuro" href="{{ url_for('boca.notificar_boca') }}">Boquitas</a></li>
                <li><a class="dropdown-item hover-amarillo-oscuro" href="{{ url_for('boca.lotes_de_pago') }}">Lotes de pago</a></li>
                 <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item hover-amarillo-oscuro" href="https://bancolombia-dwp.onbmc.com/dwp/app/#/itemprofile/214" target="_blank">Generar Pedido</a></li>
              </ul>
            </li>

            
             
            <!-- Menú/Botón de Perfil y Cerrar Sesión -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <!-- Muestra el nombre de usuario aquí en la barra principal -->
                    <i class="bi bi-person-circle"></i> Hola, {{ g.user.nombre }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <!-- Enlace directo para Admin Usuarios, visible solo si el perfil es Admin -->
            {% if g.user.perfil == 'Admin' %} 
             <li class="nav-item">
                 <a class="nav-link" href="{{ url_for('auth.Admin') }}">Admin Usuarios</a>
             </li>
            {% endif %} 
                    <li><hr class="dropdown-divider"></li>
                    <!-- Usamos el estilo mejorado (texto rojo con icono) dentro del menú desplegable -->
                    <li>
                        <a class="dropdown-item text-danger" href="{{ url_for('auth.logout') }}">
                            <i class="bi bi-box-arrow-right"></i> Cerrar sesión
                        </a>
                    </li>
                </ul>
            </li>


          {% else %}
          <!-- Usuario no logueado -->
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
            </li>
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>


<body>

 
  {% for message in get_flashed_messages(with_categories=true) %}
  {% if message[0] == 'success' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message[1] }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% else %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message[1] }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  {% endfor %}

  {% block content %}{% endblock %}







  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</body>




</html>